* {
    box-sizing: border-box;
    /*outline: 1px dotted red;*/
}

body {
    /*background: #23252C;*/
    background: #F0F3FC;
    margin: 0px;
}

.app {
    max-width: 317px;
    /*background: #1A1B21;*/
    background-color: #E5D3C4;
    margin: 44px auto 0px auto;
    border-radius: 20px 20px 20px 20px;
}

/*
.profile--container {
    background-color:#23252C;
    background-color: #DFD3C3;
    padding: 10px;
    outline: 10px solid #1A1B21;
    margin: 10px;
    border-radius: 20px 20px 10px 10px;
}
*/

.profile--container {
    padding: 11px;
}

.profile {
    display: block;
    width: 295px;
    height: 295px;
    /*border-radius: 110px;*/
    border-radius: 10px 10px 5px 5px;
    margin: auto;
    /*outline: 2px solid grey;*/
}

.mainContent {
    display: block;
    background: #e9b78e;

    /*background: #FDF5EE;*/
    /*background-color: #1A1B21;*/

    margin: 0px 10px;
    border-radius: 10px;
}

.info--main {
    background: #e9b78e;
    border-radius: 10px 10px 0px 0px;
}

.name {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    /*color: #FFFFFF;*/
    color: #c35222;
    margin: 0px;
    padding-top: 21px;
}

.role {
    margin: 0px;
    padding-top: 6px;
    font-size: 15px;
    text-align: center;
    /*color: #F3BF99;*/
    color: #454043;
}

.website {
    margin: 0px;
    padding-top: 9px;
    font-size: 10.24px;
    text-align: center;
    /*color: #F5F5F5;*/
}

.email {
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 6px;
    font-size: 14px;
    text-align: center;
    /*color: #F5F5F5;*/
    color: #c35222;
}

/*
.email {
    position: absolute;
    width: 247px;
    height: 34px;
    margin: 16px 26px 0px 26px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}
*/

.email > img {
    display: inline-flex;
    position: absolute;
    margin-top: 12px;
    margin-left: 94px;
    width: 13px;
    height: 10px;
}

.email > p {
    display: inline-flex;
    position: absolute;
    margin: 0;
    margin-top: 8px;
    margin-left: 117px;
}

.info--extra {
    width: auto;
    margin-top: 0px;
    background: #FDF5EE;
    border-radius: 10px 10px 10px 10px;
}

.info--extra h3 {
    /*color: #F5F5F5;*/
    color: #F17F67;
    padding-top: 10px;
    margin: 0px 20px;
    font-size: 20px;
    line-height: 150%;
}

.info--extra p {
    font-size: 14px;
    /*color: #DCDCDC;*/
    color: #E4A186;
    margin: 0px 20px;
    padding-top: 0px;
}

.about > p {
    margin: 20px;
    /*margin-bottom: 27px;*/
    text-align: justify;
    line-height: normal;
}

.skills-container > ul {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 140%;
    /*color: #DCDCDC;*/
    color: #E4A186;
    padding-bottom: 12px;
}

.skills {
    float: right;
    padding-right: 20px;
}

.footer {
    width: 317px;
    height: 65px;
    /*background: #161619;*/
    background: #E5D3C4;
    display: inline-flex;
    justify-content: center;
    padding: 16px 24px;
}

.footer > a {
    margin-left: 20px;
    margin-right: 20px;
    justify-items: center;
}

.footer img {
    height: 35px;
    width: 35px;
}

.credit {
    color: #DCDCDC;
    font-size: 12px;
    text-align: right;
    margin: 0px;
    border-radius: 0px 0px 5px 5px;
    /*background-color: #161619;*/
    background: #E5D3C4;    
    padding-right: 5px;
}
